* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #222;
    padding: 40px 20px;
}

.profile-container {
    max-width: 900px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #007bff;
}

.profile-info h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.username {
    color: #007bff;
    margin-bottom: 15px;
}

.bio {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.edit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.stat {
    text-align: center;
}

.stat p {
    color: #777;
}

.stat h2 {
    color: #007bff;
    margin-bottom: 5px;
}

.section {
    border-top: 1px solod #eee;
    padding-top: 25px;
    margin-top: 25px;
}

.section h2 {
    margin-bottom: 15px;
}

/* Css combinators
They are 4 types of combinators
1. Descendant combinator ( space)
2. Child combinator (>)
3. Next sibling combinator (+)
4. Subsequent-sibling combinator(~)
*/
section>p {
    color: rgb(93, 93, 93);
    line-height: 1.7;
}

.information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.info-item strong {
    display: block;
    margin-bottom: 7px;
}

.info-item p {
    color: #666;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills span {
    background-color: #e8f1ff;
    color: #007bff;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
}

/* For tablet mode */
@media (max-width:768px) {}

/* For mobile phone view */
@media (max-width:480px) {
    body {
        padding: 10px;
    }

    .profile-container {
        padding: 15px;
        border-radius: 10px;
    }

    .profile-image {
        width: 110px;
        height: 110px;
    }

    .profile-info h1 {
        font-size: 24px;
    }

    .bio {
        font-size: 14px;
    }

    .stats {
        gap: 5px;
        padding: 15px;
    }

    .stat h2 {
        font-size: 20px;
    }

    .stat p {
        font-size: 13px;
    }

    .edit-btn {
        width: 100%;
    }

    .section h2 {
        font-size: 20px;
    }
}